@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap');

:root{ 
  --BackgroundColor: #f7f7f7; 
  --textColor: #37393d; 
  --grey: rgba(128, 128, 128, 0.151); 
  --lowerWhite: rgba(255, 255, 255, 0.599);
  --darkGrey: rgba(128, 128, 128, 0.398);
  --pinkColor: #FEEBF6; 
}

body{
  font-family: 'DM Sans', system-ui, sans-serif;
  font-style: normal;

  min-height: 100vh;

  color: var(--textColor); 
  background: var(--BackgroundColor);
  /* background: radial-gradient(circle,rgba(254, 235, 246, 1) 0%, rgba(247, 247, 247, 1) 100%); */

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  -webkit-tap-highlight-color: transparent; /*This removes the little blue thing when you click on clickable items on mobile :))*/
}

html {
  scroll-behavior: smooth;

  background: rgba(67,71,75,1);
}
