.profile-img{ 
    border-radius: 50%;
    border: solid 2px var(--grey);
    padding: 1px;
}

.social-background{
    background-color:  rgb(42, 44, 46);
    /* width: 40px;
    height: 40px; */
    width: fit-content;
    height: fit-content;
    border-radius: 50%;

    padding: 1px;

    display: flex;
    justify-content: center; 
    align-items: center; 

    cursor: pointer;

    transition: all 0.3s ease;
    border: solid 2px transparent;
}

.social-background:hover{
    border: solid 2px var(--lowerWhite);
}

.social-background img{
    width: 33px;
    height: 33px;

    padding: 7px;

    transition: transform 0.5s ease-in-out;
}

.social-background img:hover {
    transform: rotate(360deg);
  }

.socials{
    display: flex;
    align-items: center;
    gap: 13px;
}

/* Shop section */
.soundpacks-cont{
    display: flex;
    align-items: center;
    gap: 20px;

    text-align: center;
}

.the-soundpacks img{
    border-radius: 6%;
    border: solid 2px var(--grey);
    /* padding: 1px; */

    transition: all 0.3s ease;

    width: 200px;
    height: 200px;
}

.the-soundpacks a{
    text-decoration: none;
    color: black;
}

.soundpack-text { 
    /* width: 90%; */
    color: var(--textColor);
    font-weight: 530;
}
/*  */


/* Music Section */
.my-Music-section{
    padding: 10px 50px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.all-song-links{
    box-shadow: 0px 0px 30px 8px var(--grey);
    background-color: white;
    border-radius: 5px;
    /* border: solid 1.5px #37393d55; */
    color:  var(--textColor);

    width: 98%;
    height: 80px;
 
    display: flex;
    align-items: center;
    gap: 18px;

    position: relative;

    padding: 0px 8px;
}

.platform-img{ 
    margin-left: -30px;
}

.arrow-img{
    position: absolute;
    right: 3%;
}

/* Aligning All Content */
#main-container-master{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 20px;
}

.profile-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    text-align: center;
}

/* packs align */
.myShop-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
    gap: 20px;
}

/* Music Section Align */
.my-Music-section{
    margin-top: 40px;
    gap: 20px;
}

.the-music-links-actual-cont{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center; 
    
    row-gap: 20px;
    column-gap: 50px;
}

.all-song-links{
    width: 500px;
}
/*  */