@media screen and (max-width: 300px) {
    #main-container-master{
        padding: 50px 0px !important;
    }

    .content-container{
        max-width: 100%;
    }

    .profile-section{
        display: flex;
        gap: 4px;
    }

    .profile-section p{
        width: 80%;
        font-size: 15px;
    }

    .profile-section h1{
        font-size: 24px;
    }

    .socials{
        margin-top: 8px;
    }

    .soundpacks-cont{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .my-Music-section{
        padding: unset;
    }

    .platfrom-texts{
        width: 100%;
    }

    .the-music-links-actual-cont{
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        max-width: 100%;
        /* overflow: hidden; */
    }

    .all-song-links{
        width: 235px;

        /* max-width: 100%;
        box-sizing: border-box; */
    }

    .mini-grey-text-music{
        width: 50px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--darkGrey);
        /* display: none; */
    }

    .platform-img{ 
        margin-left: -20px;
    }

    .socials a:focus{
        outline: none;
    }

    .soundpack-text{
        font-size: 13px;
    }
}

@media screen and (min-width: 301px) and (max-width: 600px) {
    #main-container-master{
        padding: 50px 0px !important;
    }

    .content-container{
        max-width: 95%;
    }

    .profile-section{
        display: flex;
        gap: 4px;
    }

    .profile-section p{
        width: 80%;
        font-size: 17px;
    }

    .profile-section h1{
        font-size: 27px;
    }

    .socials{
        margin-top: 8px;
    }

    .soundpacks-cont{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .my-Music-section{
        padding: unset;
    }

    .platfrom-texts{
        width: 100%;
    }

    .the-music-links-actual-cont{
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        max-width: 100%;
        /* overflow: hidden; */
    }

    .all-song-links{
        /* width: 300px; */
        width: 80vw;

        /* max-width: 100%;
        box-sizing: border-box; */
    }

    .mini-grey-text-music{
        width: 50vw !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--darkGrey);
        /* display: none; */
    }

    .platform-img{ 
        margin-left: -23px;
    }

    .socials a:focus{
        outline: none;
    }

    .the-soundpacks img{
        /* width: 230px;
        height: 230px; */

        width: 100%;
        height: 100%;
    }

    .myShop-section{
        padding: 0px 3px;
    }

    .soundpack-text{
        font-size: 13px;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    #main-container-master{
        padding: 50px 0px !important;
    }

    .content-container{
        max-width: 95%;
    }

    .profile-section{
        display: flex;
        gap: 4px;
    }

    /* .profile-section p{
        width: 80%;
        font-size: 17px;
    }

    .profile-section h1{
        font-size: 27px;
    } */

    .socials{
        margin-top: 8px;
    }

    .soundpacks-cont{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .my-Music-section{
        padding: unset;
    }

    .platfrom-texts{
        width: 100%;
    }

    .the-music-links-actual-cont{
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        max-width: 100%;
        /* overflow: hidden; */
    }

    .all-song-links{
        /* width: 300px; */
        width: 80vw;

        /* max-width: 100%;
        box-sizing: border-box; */
    }

    .mini-grey-text-music{
        width: 50vw !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--darkGrey);
        /* display: none; */
    }

    .platform-img{ 
        margin-left: -23px;
    }

    .socials a:focus{
        outline: none;
    }

    .the-soundpacks img{
        /* width: 230px;
        height: 230px; */

        width: 100%;
        height: 100%;
    }

    .myShop-section{
        padding: 0px 20px;
    }

    .soundpack-text{
        font-size: 12px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
    #main-container-master{
        padding: 50px 0px !important;
    }

    .content-container{
        max-width: 80%;
    }

    .profile-section{
        display: flex;
        gap: 4px;
    }

    /* .profile-section p{
        width: 80%;
        font-size: 17px;
    }

    .profile-section h1{
        font-size: 27px;
    } */

    .socials{
        margin-top: 8px;
    }

    .soundpacks-cont{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .my-Music-section{
        padding: unset;
    }

    .platfrom-texts{
        width: 100%;
    }

    .the-music-links-actual-cont{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        max-width: 100%;
        /* overflow: hidden; */
    }

    .all-song-links{
        /* width: 300px; */
        width: 40vw;

        /* max-width: 100%;
        box-sizing: border-box; */
    }

    .mini-grey-text-music{
        width: 20vw !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--darkGrey);
        /* display: none; */
    }

    .platform-img{ 
        margin-left: -23px;
    }

    .socials a:focus{
        outline: none;
    }

    .the-soundpacks img{
        /* width: 230px;
        height: 230px; */

        width: 100%;
        height: 100%;
    }

    .myShop-section{
        padding: 0px 20px;
    }

    .the-music-links-actual-cont{
        /* column-gap: unset; */
    }
}